<ActionBar title="My App" class="action-bar">
    <ActionItem (tap)="showModal()" text="Add"></ActionItem>
</ActionBar>
<StackLayout class="page" *ngIf="contacts.length > 0">
    <ListView [items]="contacts" class="list-group">
        <ng-template let-contact="item">
            <Label [text]="contact.firstName + ' ' + contact.lastName + ' ' + contact.phoneNumber" class="list-group-item"></Label>
            <!-- <Label text="lastName"></Label> -->
        </ng-template>
    </ListView>
</StackLayout>
<GridLayout rows="*" columns="*" style.backgroundColor="gray" *ngIf="contacts.length == 0">
    <Label row="0" text="No Contacts Exists" style.verticalAlignment="center" style.textAlignment="center" textWrap="true"></Label>
</GridLayout>