<ActionBar title="My Contacts" class="action-bar">
    <ActionItem (tap)="showModal()" position="right" android.systemIcon="ic_menu_add" ios.systemIcon="4"
    ios.position="right"></ActionItem>
    <!-- <Label text="My Contacts"></Label>
    <Label class="mdi" [text]="'mdi-add-circle-outline' | fonticon"></Label> -->
</ActionBar>
<StackLayout style.backgroundColor="lightgray" *ngIf="contacts.length > 0">
    <ListView [items]="contacts | sortContacts:path" class="list-group">
        <ng-template let-contact="item">
            <Label [text]="contact.firstName + ' ' + contact.lastName + ' ' + contact.phoneNumber" class="list-group-item"></Label>
        </ng-template>
    </ListView>
    <!-- <Button class="submit-button mdi" text="SAAA" (tap)="saveContacts()"></Button> -->
    <Button class="submit-button mdi" [text]="('mdi-sync' | fonticon) + ' SYNC TO FIREBASE'" (tap)="saveContacts()"></Button>
    <Button *ngIf="path === 'firstName'" text="Order by Last Name" class="submit-button" (tap)="change()"></Button>
    <Button *ngIf="path === 'lastName'" text="Order by First Name" class="submit-button" (tap)="change()"></Button>
</StackLayout>
<GridLayout style.backgroundColor="lightgray" rows="*" columns="*" *ngIf="contacts.length == 0">
    <Label row="0" text="No Contacts Exists" style.verticalAlignment="center" style.textAlignment="center" textWrap="true"></Label>
</GridLayout>